.hidden {
  display: none;
}

.group {
  display: flex;
  margin: 0 30px 0 30px;
}

.item {
  flex: 1;
  margin: 10px;
}
.item-double {
  flex: 2;

  margin: 10px;
}

body {
  background-color: #cad2c5;
}

header {
  background-color: #2f3e46;
}

h1 {
  font-size: 35px;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 15px;
  border: 1px solid #4b8f29;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

.btn {
  box-shadow: 3px 4px 0px 0px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 15px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

.btn:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.btn:active {
  position: relative;
  top: 1px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: #4b8f29;
  font-weight: 600;
}

li {
  font-size: 15px;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 15px;
  border: 1px solid #4b8f29;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
  list-style-type: none;
}

@media all and (min-width: 850px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    font-size: 42px;
    margin: 14px 0;
    padding-top: 6px;
  }

  header nav {
    margin-top: 14px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
  main div {
    padding: 0 30px 0 30px;
  }
  .group {
    flex-direction: row;
  }

  main {
    margin: 0 300px 0 300px;
  }
}
